<div class="container services_container">
  <h1>We know what your website needs</h1>
  <div class="row services_row">
    <div class="col-md-6">

      <p>Maru Tech thoroughly analyzes your site and pinpoints what it needs most. Our services
      guarantee that your eCommerce store, SaaS, blog, or whatever else goes beyond
      your expectations and reach its true potential. A design that inspires, a build
      that is light and speedy, copywriting that engages audiences. Take advantage of our
      wide array of services to give new life to your site.</p>
    </div>
    <div class="col md-6">
      <%= image_tag 'serviceheader.png', class: 'service_header' %>
    </div>
    <h2 class="services_icon_header">Services</h2>
  <div class="services_grid">
    <div class="box">
      <%= image_tag 'design.png', class: 'services_img' %>
      <h2>Web Design</h2>
      <p>Clean, responsive sites that achieve your goals while looking great</p>
    </div>

    <div class="box">
      <%= image_tag 'uxui.png', class: 'services_img' %>
      <h2>UX/UI</h2>
      <p>We ensure that users effortlessly interact with your site</p>
    </div>

    <div class="box">
      <%= image_tag 'optimization.png', class: 'services_img' %>
      <h2>Optimization</h2>
      <p>We eliminate clutter to make your site speedy and light</p>
    </div>

    <div class="box">
      <%= image_tag 'seo.png', class: 'services_img' %>
      <h2>SEO</h2>
      <p>Your audience is targeted with pinpoint accuracy to bring in new users</p>
    </div>

    <div class="box">
      <%= image_tag 'copywriting.png', class: 'services_img' %>
      <h2>Copywriting</h2>
      <p>Engaging articles and blog posts that capture attention and leads</p>
    </div>

    <div class="box">
      <%= image_tag 'socialmedia.png', class: 'services_img' %>
      <h2>Social Media</h2>
      <p>Reach users on new platforms like Facebook, Instagram, and Twitter</p>
    </div>

    </div>
  </div>
</div>
