<div class="container services_container">
  <h1>Services</h1>
  <div class="row">
  <div class="services_grid">
    <div class="box">
      <%= image_tag 'design.png', class: 'services_img' %>
      <h2>Web Design</h2>
      <p>Clean, responsive sites that achieve your goals</p>
    </div>

    <div class="box">
      <%= image_tag 'uxui.png', class: 'services_img' %>
      <h2>UX/UI</h2>
      <p>We ensure that users effortlessly interact with your site</p>
    </div>

    <div class="box">
      <%= image_tag 'optimization.png', class: 'services_img' %>
      <h2>Optimization</h2>
      <p>We eliminate clutter and make sites speedy</p>
    </div>

    <div class="box">
      <%= image_tag 'seo.png', class: 'services_img' %>
      <h2>SEO</h2>
      <p>Users find your site faster than ever before</p>
    </div>

    <div class="box">
      <%= image_tag 'copywriting.png', class: 'services_img' %>
      <h2>Copywriting</h2>
      <p>Engaging articles and blog posts that capture attention</p>
    </div>

    <div class="box">
      <%= image_tag 'socialmedia.png', class: 'services_img' %>
      <h2>Social Media</h2>
      <p>Reach users on new platforms</p>
    </div>

    </div>
  </div>
</div>
